
html {
	font-size: 11px;
	line-height: 1.7em;
}

ul {
	line-height: 1.3rem;
	margin-left: 4px;
}

h1, h2, h3, h4, h5, h6 {
}

h4 {
	margin-bottom: 1.5rem;
}

h5 {
	margin-bottom: 1rem;
}

header {
	margin: 30px 0;
}

p {
	padding-left: 2px;
}

.row {
	margin-bottom: 2rem;
}

.sidebar-box {
	background: #f7f7f7;
	padding: 16px 25px;
	margin: 0 0 20px 0;
	border-radius: 3px;
}

.sidebar-box i {
	margin: 6px;
	margin-left: 0;
	width: 20px;
}

.cool {
	margin-bottom: 20px;
}

section {
	margin-bottom: 35px;
}

.master-hr {
	margin: 0 0 2rem 0;
}

a, a:link, a:active, a:visited, a:hover {
    text-decoration: none;
	color: #2c7744;
}

a:hover {
    text-decoration: underline;
}

footer {
	padding: 0;
	bottom: 0;
}

.footer-home {
	position: fixed;
	bottom: 0;
}

.copyright {
	margin: 10px 0;
	color: #aaa;
}

.name {
	line-height: 140px;
	font-family: 'Nixie One';
	color: #fff;
}

#gradient {
	position: absolute;
	top: 0;
	width: 100%;
	height: 140px;
	background: linear-gradient(to left,
		#000000 0%, #434343 100%);
}


header {
	width: 100%;
	height: 140px;
	margin-top: 0;
}

.name-link:hover {
    text-decoration: none;
}

.sidebar-box h4 {
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 0.4em;
}

.sidebar-box i {
	font-size: 1.1em;
	text-align: center;
	margin-right: 9px;
}

.sidebar-box div {
	margin: 3px 0;
	font-size: 16px;
}

#contact-name {
	/*margin-bottom: 4px;*/
}
