- var root_url = 'https://maxadamski.com';

#sections.sidebar-box
	h4 Site Map
	div
		i.far.fa-hand-point-right
		a(href='index.html') Home
	div
		i.far.fa-hand-point-right
		a(href='stuff.html') Cool Stuff

