html {
    box-sizing: border-box;
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	max-width: 1000px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 40px;
	display: grid;
    grid-template-areas:
        "hd hd"
        "mn sb"
        "ft ft";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr) minmax(0, auto);
}

body > header {
    grid-area: hd;
	height: 140px;
    margin-bottom: 20px;
}

body > main {
    grid-area: mn;
}

body > aside {
    grid-area: sb;
    justify-self: end;
    margin-left: 20px;
}

body > footer {
    grid-area: ft;
	font-size: 12px;
	color: gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

main p {
    max-width: 80ch;
}

pre {
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  background: whitesmoke;
  color: #222222;
  font-size: 12px;
  padding: 10px;
  overflow-x: auto;
  word-wrap: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    line-height: 1.2;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-left: 3px;
}

ul {
    list-style: circle inside;
}

li {
    line-height: 1.6em;
}

a, a:link, a:active, a:visited, a:hover {
    text-decoration: none;
	color: #2c7744;
}

a:hover {
    text-decoration: underline;
}

aside > section {
	background: #f7f7f7;
	padding: 18px 19px;
	margin: 0 0 20px 0;
	border-radius: 3px;
}

aside > section > div {
	margin-top: 8px;
    margin-right: 40px;
	font-size: 16px;
}

aside > section h4 {
	font-size: 1.3em;
	font-weight: 600;
    margin: 0;
	margin-bottom: 0.4em;
}

aside > section i {
	text-align: center;
	margin: 0 2px 0 0;
	width: 20px;
}


.gradient {
	position: absolute;
    left: 0;
	top: 0;
	width: 100%;
	height: 140px;
	background: linear-gradient(to left,
		#000000 0%, #434343 100%);
    z-index: 1;
}

.name {
    position: relative;
	line-height: 140px;
	font-family: 'Nixie One';
    margin: 0;
    font-size: 3.5rem;
	color: #fff;
    z-index: 2;
}

.name:hover {
    text-decoration: none;
}

h4 {
	margin-bottom: 1.5rem;
}

h5 {
	margin-bottom: 1rem;
}

p {
	padding-left: 2px;
    line-height: 1.6;
}

.cool {
	margin-bottom: 20px;
}

section {
	margin-bottom: 35px;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #DBDBDB;
    margin: 0;
}

#copyright {
    margin: 10px 0;
}

@media (max-width: 700px) {
    body {
        grid-template-areas: "hd" "mn" "sb" "ft";
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 1fr;
        padding: 0 8px;
    }

    body > aside {
        justify-self: stretch;
        margin-left: 0;
    }

    .name {
        font-size: 2.5rem;
    }
}
