extends partial/layout.pug

block main
	.row
		.seven.columns
			h3 Cool Stuff
			p
			| Here's a collection of interesting things I found on the Internet,
			| so this is basically my bookmarks bar.
			| If you're bored, or want to kill some time, you might find something of value here.

		.five.columns
			include partial/sitemap.pug

	.row
		include:markdown-it(html) /posts/stuff.md
